<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Displayer</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>

<main>
    <nav class="navbar">
        <a href="/showBanks">Show all banks</a>
        <a href="/addBank">Add new bank</a>
        <a href="/updateBank">Update bank</a>
        <a href="/deleteBank">Delete bank</a>
    </nav>
</main>


</body>
</html>